"rules": {
  "indent": [
      "error",
      2
  ],
  "linebreak-style": [
      "error",
      "unix"
  ],
  "quotes": [
      "error",
      "single"
  ],
  "semi": [
      "error",
      "never"
  ],
  "no-console": [
      0
  ],
  "eqeqeq": [
      2,
      "smart"
  ],
  "no-var": [
      0
  ]
}